$xs: 0;
$sm: 767;
$md: 991;
$lg: 1200;
$xl: 1365;
$xxl: 1535;
$xxxl: 1800;

:export {
  xs: $xs;
  sm: $sm;
  md: $md;
  lg: $lg;
  xl: $xl;
  xxl: $xxl;
  xxxl: $xxxl;
}

$breakpoint-up: (
  xs: (
    $xs + 1,
  ) + 0px,
  sm: (
    $sm + 1,
  ) + 0px,
  md: (
    $md + 1,
  ) + 0px,
  lg: (
    $lg + 1,
  ) + 0px,
  xl: (
    $xl + 1,
  ) + 0px,
  xxl: (
    $xxl + 1,
  ) + 0px,
  xxxl: (
    $xxxl + 1,
  ) + 0px,
);

$breakpoint-down: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
  xxl: $xxl,
  xxxl: $xxxl,
);

@mixin breakpoint-up($size) {
  @media (min-width: map-get($breakpoint-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoint-down, $size)) {
    @content;
  }
}

@mixin orientation($direction) {
  $orientation-landscape: '(orientation:landscape)';
  $orientation-portrait: '(orientation:portrait)';

  @if $direction == landscape {
    @media #{$orientation-landscape} {
      @content;
    }
  }
  @if $direction == portrait {
    @media #{$orientation-portrait} {
      @content;
    }
  }
}
