// @use "./variables" as *;
@use './breakpoints.module' as *;
@use './palette.module' as *;

// Font family
// @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

$font-primary: 'Inter', sans-serif;
$font-secondary: 'frutiger', sans-serif;
$font-support: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;

$body-font: $font-primary, $font-secondary, $font-support;

$font-weights: (
  light: 300,
  regular: 400,
  medium: 500,
  semi-bold: 600,
  bold: 700,
);

.t-46-64 {
  font-size: var(--t-46-64);
}

.t-33-46 {
  font-size: var(--t-33-46);
}

.t-30-46 {
  font-size: var(--t-30-46);
}

.t-25-36 {
  font-size: var(--t-25-36);
}

.t-22-28 {
  font-size: var(--t-22-28);
}

.t-18-21 {
  font-size: var(--t-18-21);
}

.t-16-17 {
  font-size: var(--t-16-17);
}

.t-14 {
  font-size: var(--t-14);
}

.t-12 {
  font-size: var(--t-12);
}

.t-13 {
  font-size: var(--t-13);
}

.t-18-19 {
  font-size: var(--t-18-19);
}

.t-14-15 {
  font-size: var(--t-14-15);
}

.t-15 {
  font-size: var(--t-15);
}
