@use './palette.module' as *;
@use './utilities' as *;
@use './typography' as *;

:root {
  // Colors
  --white: #ffffff;
  --base-margin: 8px;

  @each $color, $shades in $colors {
    @each $shade, $value in $shades {
      --#{"" + $color}-#{$shade}: #{$value};
    }
  }
  // Generic color
  @each $color, $values in $generic-colors {
    --#{"" + $color}: #{$values};
  }
  // Border raidus
  @each $radius, $values in $border-radius {
    --#{$radius}: #{$values};
  }
  // Margin and padding
  @each $name, $values in $marginPadding {
    --margin-#{$name}: #{$values};
  }

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'frutiger', sans-serif;

  // Font Steps

  /* 46.00px → 64.00px */
  --t-46-64: clamp(2.875rem, 2.3377rem + 2.6866vw, 4rem);

  /* 33.00px → 46.00px */
  --t-33-46: clamp(2.0625rem, 1.6744rem + 1.9403vw, 2.875rem);

  /* 30PX -> 46PX */
  --t-30-46: clamp(1.875rem, 1.3974rem + 2.3881vw, 2.875rem);

  /* 25PX -> 36PX */
  --t-25-36: clamp(1.5625rem, 1.2341rem + 1.6418vw, 2.25rem);

  /* 22.00px → 28.00px */
  --t-22-28: clamp(1.375rem, 1.1959rem + 0.8955vw, 1.75rem);

  /* 18.00px → 21.00px */
  --t-18-21: clamp(1.125rem, 1.0354rem + 0.4478vw, 1.3125rem);

  /* 16.00px → 17.00px */
  --t-16-17: clamp(1rem, 0.9701rem + 0.1493vw, 1.0625rem);

  /* 14.00px → 14.00px */
  --t-14: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);

  /* 12.00px → 12.00px */
  --t-12: clamp(0.75rem, 0.75rem + 0vw, 0.75rem);

  /* 13.00px → 13.00px */
  --t-13: clamp(0.8125rem, 0.8125rem + 0vw, 0.8125rem);

  /* 18.00px → 19.00px */
  --t-18-19: clamp(1.125rem, 1.0951rem + 0.1493vw, 1.1875rem);

  /* 14.00px → 15.00px */
  --t-14-15: clamp(0.875rem, 0.8451rem + 0.1493vw, 0.9375rem);

  /* 15.00px → 15.00px */
  --t-15: clamp(0.9375rem, 0.9375rem + 0vw, 0.9375rem);

  /* HEADINGS */

  // --h--
}

$main-header-signup-h: 97px;
$main-header-h: 80px;

$animation-type1: ease;
$animation-type2: ease-in;
$animation-type3: ease-out;
$animation-duration1: 0.1s;
$animation-delay1: 0.1s;
$animation-duration2: 0.2s;
$animation-delay2: 0.2s;
$animation-duration3: 0.3s;
$animation-delay3: 0.3s;
$animation-duration4: 0.4s;
$animation-duration5: 0.5s;
$animation-delay5: 0.5s;
$animation-duration11: 1s;
$animation-delay11: 1s;

$field-addon-btn-radius: 25px;
$field-p-x: 16px;
$btn-field-check-radio-w-h: 18px;
$field-check-radio-w-h: 24px;
$field-check-radio-w-s: 16px;

$field-btn-md-py: 9px;
$field-btn-radius: 16px;
$field-btn-radius-lg: 40px;
$field-btn-sm-h: 36px;
$field-btn-sm-p: 8px 16px;
$field-btn-md-h: 40px;
$btn-with-icon-w-h: 18px;

$zindex-modal: 1040;
$zindex-modal-backdrop: 1040;
$box-shadow-modal: 4px 8px 20px rgba(198, 207, 216, 0.25);
$box-shadow-modal-sm: 4px 8px 20px rgba(198, 207, 216, 0.25);
$box-shadow-modal-lg: 4px 8px 20px rgba(198, 207, 216, 0.25);
$modal-dialog-margin: 0.5rem;
$modal-inner-padding: 3rem;
$icon-sizes: (12px, 14px, 16px, 18px, 20px, 22px, 24px, 26px, 28px);
$border-radius1: 2px;
$border-radius2: 4px;
$border-radius3: 6px;
$border-radius4: 10px;
