$font-file-path: '../fonts/Frutiger' !default;

@font-face {
  font-family: 'frutiger-bold-italic';
  src: url('#{$font-file-path}/frutigerltpro-bolditalic-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-bolditalic-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-bolditalic-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-bolditalic-.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'frutiger-extra-black';
  src: url('#{$font-file-path}/frutigerltpro-extrablackcn-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-extrablackcn-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-extrablackcn-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-extrablackcn-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-extrablackcn-.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-light';
  src: url('#{$font-file-path}/frutigerltpro-light-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-light-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-light-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-light-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-light-.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-light-cn';
  src: url('#{$font-file-path}/frutigerltpro-lightcn-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-lightcn-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-lightcn-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-lightcn-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-lightcn-.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-bold-cn-italic';
  src: url('#{$font-file-path}/frutigerltpro-boldcnita-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-boldcnita-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-boldcnita-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-boldcnita-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-boldcnita-.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'frutiger-black-cn';
  src: url('#{$font-file-path}/frutigerltpro-blackcn-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-blackcn-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-blackcn-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-blackcn-.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger';
  src: url('#{$font-file-path}/frutigerltpro-roman-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-roman-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-roman-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-roman-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-roman-.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-ultra-black';
  src:
    url('#{$font-file-path}/frutigerltpro-ultrablack-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-ultrablack-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-ultrablack-.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-bold-cn';
  src: url('#{$font-file-path}/frutigerltpro-boldcn-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-boldcn-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-boldcn-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-boldcn-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-boldcn-.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-light-italic';
  src: url('#{$font-file-path}/frutigerltpro-lightitalic-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-lightitalic-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-lightitalic-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-lightitalic-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-lightitalic-.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'frutiger-black';
  src: url('#{$font-file-path}/frutigerltpro-black-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-black-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-black-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-black-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-black-.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-italic';
  src: url('#{$font-file-path}/frutigerltpro-italic-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-italic-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-italic-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-italic-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-italic-.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'frutiger-light-italic-cn';
  src: url('#{$font-file-path}/frutigerltpro-lightcnita-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-lightcnita-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-lightcnita-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-lightcnita-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-lightcnita-.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'frutiger-black-italic';
  src: url('#{$font-file-path}/frutigerltpro-blackitalic-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-blackitalic-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-blackitalic-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-blackitalic-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-blackitalic-.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'frutiger-bold';
  src: url('#{$font-file-path}/frutigerltpro-bold-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-bold-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-bold-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-bold-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-bold-.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'frutiger-italic-cn';
  src: url('#{$font-file-path}/frutigerltpro-condensedita-.eot');
  src:
    url('#{$font-file-path}/frutigerltpro-condensedita-.eot?#iefix')
      format('embedded-opentype'),
    url('#{$font-file-path}/frutigerltpro-condensedita-.woff2') format('woff2'),
    url('#{$font-file-path}/frutigerltpro-condensedita-.woff') format('woff'),
    url('#{$font-file-path}/frutigerltpro-condensedita-.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
