@use '../scss/main.scss';

.contentSection {
  text-shadow: 1px 1px #000;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@function rem($value) {
  @return #{math.div(math.div($value, $value * 0 + 1), 16)}rem;
}

.icon-24 {
  width: 24px;
  height: 24px;
}

.MuiPaper-root {
  background-color: transparent;
  background: transparent;
}

.MuiContainer-root {
  display: flex;
}

.icon-btn-movement {
  &:hover {
    .moveRightIcon {
      animation: moveRight 0.3s forwards;
    }
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(8px);
  }
}

.filled-borderless-field {
  background-color: var(--white);

  .MuiFilledInput-root {
    background-color: var(--white);

    &:before {
      border-bottom: 1px solid var(--white);
    }
  }
}

.input-group-cta {
  box-shadow:
    0px 4px 8px 0px rgba(0, 0, 0, 0.12),
    0px 4px 44px 0px rgba(0, 0, 0, 0.06);
}

.accordion-summary {
  background: #f6f7f7;
}

.accordion-details {
  background: #f6f7f7;
}
