.banner-wrapper {
  min-height: 500px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  /* background-image: url(https://s3-alpha-sig.figma.com/img/2ece/c940/b23d821cb5972bafe79e01a6266cc3d1?Expires=1701043200&Signature=dSaapwz6Okz1p0D2cY0MyyPcRF68krmTUCUAHPhXhDBjuC4ZKNE4JEs7UuLjEshQA40Ueylov77jqr~HP89iAFIfvSh0~6IxFdLfIEPXvTrH8viiBxJxBQScxAdptvgYU6nY7RgR73GMkSe0CZQVMfVg2TEgqeiarW2yNsRatRbk6t~hFgYv2ufMCtc4qe4rza1bKtZysuqtlbYGX-6ooBtAOYXNaohEsZjJYAfyMi~SdijGE1PN4zVv3u~iAKKGa1NWMr0WID82XgE7GZo1soG5NmZ7EfGtpE51qojLgMuTWO2cZ-nMzRx7B7QcR6YeAX6SML9VcPNunM-oz2bUEA__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4); */
}
.left-side-banner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  flex-basis: 45%;
  padding: 60px 40px;
}

.banner-heading {
  color: var(--primary-white, #fff);
  /* font-family: ; */
  font-size: 80px;
  margin-top: 100px;
  margin-left: 80px;
  font-weight: 800;
  line-height: 80px; /* 100% */
  letter-spacing: -1.6px;
}
.bannner-sub-heading {
  color: var(--primary-white, #fff);

  /* Subtitle/Subtitle 1/Heavy */
  /* font-family: Avenir; */
  font-size: 26px;
  font-style: normal;
  font-weight: 800;
  margin-left: 80px;
  line-height: 32px; /* 123.077% */
}
.banner-content {
  margin-top: 10px;
  color: var(--gray-scale-gray-200, #d8d8da);

  /* Caption/Regular */
  /* font-family: Inter; */
  font-size: 14px;
  margin-left: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.28px;
}

.banner-input {
  color: var(--gray-scale-gray-300, #b9b9bc);
  /* font-family: Inter; */
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 26px; /* 162.5% */
  letter-spacing: 0.16px;
  flex: 1;
  cursor: pointer;
}
.banner-input:focus-visible {
  outline: none;
  cursor: pointer;
}
.input-holder {
  display: flex;
  width: 400px;
  height: 68px;
  padding: 12px;
  align-items: center;
  gap: 8px;
  border-radius: 20px;
  background: #fff;
  margin-top: 50px;
  margin-left: 80px;
  cursor: pointer;
}

.banner-heading1 {
  color: var(--primary-white, #fff);
}
